@model DT102GProject.Models.Course

@{ ViewData["Title"] = "Admin - Course - Details"; }

<div class="crud-container">
    <h1>Course details</h1>

    <div>
        <h4>Course</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Title)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Title)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Price)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Price)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Length)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Length)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Level)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Level)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Description)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.CourseId">Edit</a><br />
        <a asp-action="Index">Back to List</a>
    </div>
</div>